@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.header__bottom, .main__project-left, .main__project-right, .main__project-btn, .main__project__card:hover .main__project__openModale, .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --light-dark: #2E2E2E;
  --medium-dark: #262626;
  --dark-dark: #1E1E1E;
  --dark: #121212;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--medium-dark);
  color: #FFF;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #87bb34;
}

.header__top__color {
  width: 35px;
  height: 35px;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.header__top__color:hover {
  cursor: pointer;
}

.header__top__content {
  text-align: center;
  margin: 10px;
}

.header__top__nav {
  width: 40px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .header__top__nav {
    display: none;
  }
}

.header__top__nav-btn {
  width: 40px;
  height: 5px;
  background-color: #EEE;
  position: absolute;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.header__top__nav-btn:nth-child(2) {
  top: 10px;
}

.header__top__nav-btn:nth-child(3) {
  top: 20px;
}

.header__nav {
  padding: 10px;
  background-color: var(--light-dark);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
}

.header__nav__mobile-nav {
  height: 1px;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.header__nav__mobile-nav ul {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header__nav__mobile-nav li {
  margin-top: 10px;
  list-style: none;
}

.header__nav__desktop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px;
}

.header__nav nav {
  width: 50%;
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav nav {
    display: block;
  }
}

.header__nav__desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav__desktop-nav li {
  list-style: none;
}

.header__bottom img {
  margin: 25px;
  width: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
}

.main__edito {
  padding: 5px 25px 25px 25px;
  background-color: var(--light-dark);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
  text-align: center;
}

.main__edito p:nth-child(4) {
  margin-top: 20px;
}

.main__project {
  text-align: center;
  overflow: hidden;
  position: relative;
}

.main__project h2 {
  margin: 25px;
}

.main__project-left, .main__project-right {
  width: 50px;
  height: 50px;
  background-color: var(--light-dark);
  border-radius: 50%;
  position: absolute;
  opacity: 0.1;
  top: calc(50% - 25px);
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__project-left:hover, .main__project-right:hover {
  cursor: pointer;
  opacity: 0.75;
}

@media screen and (min-width: 568px) {
  .main__project-left, .main__project-right {
    display: none;
  }
}

.main__project-right {
  left: calc(100vw - 50px);
}

.main__project-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #EEE;
}

.main__project-btn i {
  color: #2E2E2E;
}

.main__project__container {
  width: 800%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-12.5%);
          transform: translate(-12.5%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media screen and (min-width: 568px) {
  .main__project__container {
    width: 100%;
    padding: 10px 25px;
    -webkit-transform: translate(0);
            transform: translate(0);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .main__project__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}

@media screen and (min-width: 568px) {
  .main__project__mobile {
    display: none;
  }
}

.main__project__card {
  margin: 25px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

@media screen and (min-width: 768px) {
  .main__project__card:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.main__project__img {
  padding: 20px;
  background-color: var(--light-dark);
  position: relative;
}

.main__project__img img {
  width: 100%;
  border-radius: 10px;
}

.main__project__openModale {
  display: none;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 43px);
  border-radius: 10px;
  background-color: rgba(24, 24, 24, 0.5);
  z-index: 10;
}

.main__project__openModale p {
  padding: 10px;
  border-radius: 5px;
  background-color: #EEE;
  color: #000;
}

.main__project__openModale p:hover {
  cursor: pointer;
}

.main__project__content {
  padding: 15px;
  background-color: var(--dark-dark);
}

.main__project__content p {
  margin-top: 10px;
  margin-bottom: 50px;
}

.main__project__icons {
  width: 110px;
  margin: auto;
  border-radius: 10px;
  background-color: #606060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 568px) {
  .main__project__icons {
    display: none;
  }
}

.main__project__circle {
  width: 8px;
  height: 8px;
  margin: 4px;
  border-radius: 50%;
  background-color: #303030;
}

.main__project__circle:nth-child(1) {
  background-color: #87bb34;
}

.main__project__modale-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(24, 24, 24, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.main__project__modale {
  width: 90%;
  height: 90%;
  padding: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
          box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
  background-color: var(--light-dark);
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .main__project__modale {
    width: 75%;
    height: 85%;
    padding: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .main__project__modale {
    width: 50%;
    height: 75%;
  }
}

.main__project__modale img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main__project__modale img {
    width: 50%;
  }
}

.main__project__modale h3 {
  margin: 15px;
}

.main__project__modale p {
  margin-top: 15px;
}

.main__contact {
  text-align: center;
}

.main__contact h2 {
  margin: 25px;
}

.main__contact form {
  max-width: 1200px;
  margin: auto;
  padding-top: 15px;
  background-color: var(--dark-dark);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__contact input, .main__contact textarea {
  margin: 10px 25px;
  padding: 5px;
  border-radius: 10px;
}

.main__contact button {
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  background-color: #87bb34;
  margin: 10px auto 25px;
}

.footer {
  padding: 10px;
  background-color: var(--dark);
}

.footer h4 {
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
}

.footer__links {
  width: 150px;
  padding: 10px;
  margin: 0 auto 25px;
  background-color: #FFF;
}

.footer__links i {
  margin: 0 10px;
}

.fa-facebook {
  color: #3a5795;
}

.fa-twitter {
  color: #1c9cea;
}

.fa-linkedin {
  color: #0175af;
}
/*# sourceMappingURL=style.css.map */